body{
    font-style: italic;
    font-family: fantasy;
    text-align:left;
    background-image: url("images/sped.jpg");
    background-attachment:fixed;
    margin:auto;
    padding:auto;
    overflow:hidden;
}

.kolor{
    color: rgb(0, 229, 255);
}

fieldset{
    margin:auto;
    margin-bottom:auto;
    margin-top: auto;
    width:fit-content;
    padding:6vw;
    background-image: url("images/tlo.png");
}



h2{
    color:white;
    text-align:center;
    text-decoration: underline;
    margin-top: auto;
}
.przycisk{
    color:rgb(0, 229, 255);
    background-color: black;
    transition: 200ms;
    padding:2%;
    border-radius: 30%;
    border-color: aqua;
}

.przycisk:hover {
    color: aqua;
    padding:1%;
    background-color: red;
}

.obrazek{
    width:10vw;
    text-align: center;
    margin-top:auto;
    margin-right:10px;
}



.pole{
    background-image: linear-gradient(to bottom left, rgb(0, 229, 255),black);
    border-color: aqua;
    color: rgb(255, 255, 255);
    border-radius: 5%;
}

a{
    color:white;
    text-decoration:none;
    
    
}

a:hover{
    color:rgb(0, 229, 255);
}


input::placeholder{
    color:rgb(255, 255, 255);
}

textarea::placeholder{
    color:rgb(255, 255, 255);
}


.formlink{
    font-size: 6vw;
    display: inline-block;
    padding:10px 20px;
    background-image:linear-gradient(to bottom left, black, rgb(0, 229, 255));
    color:white;
    text-decoration:none;
    border-radius: 30px;
    border-color: rgb(0, 229, 255);
    text-align: center;
}

.formlink:hover{
    background:white;
    color:rgb(0, 229, 255);
    border-color:rgb(0, 229, 255);
}

.powitanie{
    font-size: 5vw;
    text-align: center;
    color:white;
    text-shadow: 0vw 0vw 2vw rgb(0, 229, 255);
}

.srodek{
    text-align: center;
    margin-top: 20px;
}